.compile{
	width:100%;
	height:100%;
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
.co-head{
	width:100%;
	height:0.95rem;
	background:#fff;
	position:relative;
	border-bottom:1px solid #ccc;
}
.co-head h3{
	font-size:0.34rem;
	color:#363636;
	text-align:center;
	line-height:0.95rem;
}
.co-head a{
    position:absolute;
    width:0.18rem;
    height:0.31rem;
    background:url(../img/img3_01_03.png) no-repeat;
    background-size:contain;
    left:0.2rem;
    top:50%;
    margin-top:-0.15rem;
}
.co-cont{
	width:100%;
	-webkit-box-flex:1;
    background:#fff;
}
.co-cont li{
	width:100%;
	height:1rem;
	border-bottom:1px solid #f4f4f4;
	font-size:0.26rem;
	color:#868686;
	line-height:1rem;
	padding-left:0.2rem;
}
.co-lis1 span{
    float:left;
}
.co-lis1 img{
    float:right;
    width:0.75rem;
    height:0.75rem;
    margin-right:0.4rem;
    margin-top:0.12rem;
}
.co-lis2 p{
    color:#AFAFAF;
    float:left;
    padding-left:0.72rem;
}
.co-lis2 span{
    float:left;
}
.co-lis2 a{
	float:right;
	width:0.2rem;
	height:0.33rem;
	background:url(../img/img7_12.png) no-repeat;
	background-size:contain;
	margin-right:0.36rem;
	margin-top:0.36rem;
}
.co-lis3 label{
	float:right;
	width:0.39rem;
	height:0.39rem;
	background:url(../img/img7_13.png) no-repeat;
	background-size:100%;
	background-position:0 0;
	margin-top:0.38rem;
	margin-right:0.4rem;
	border-radius:0.1rem;
}
.co-lis4{
	background:#77B1ED;
	color:#E8F1FB;
}
.co-lis4 label{
	float:right;
	width:0.39rem;
	height:0.39rem;
	background:url(../img/img7_13.png) no-repeat;
	background-size:100%;
	background-position:0 -1.1rem;
	margin-top:0.38rem;
	margin-right:0.4rem;
	border-radius:0.1rem;
}
