.setting{
	width:100%;
	height:100%;
	display:-webkit-box;
	-webkit-box-orient:vertical;
}
.se-head{
	width:100%;
	height:0.95rem;
	background:#fff;
	position:relative;
	border-bottom:1px solid #ccc;
}
.se-head h3{
	font-size:0.34rem;
	color:#363636;
	text-align:center;
	line-height:0.95rem;
}
.se-back{
	position:absolute;
	width:0.18rem;
	height:0.31rem;
	background:url(../img/img3_01_03.png) no-repeat;
	background-size:contain;
	left:0.2rem;
	top:50%;
	margin-top:-0.15rem;
}
.se-cont{
	width:100%;
	-webkit-box-flex:1;
	background:#fff;
}
.se-cont ul li{
	width:100%;
	height:1rem;
	border-bottom:1px solid #f4f4f4;
	font-size:0.28rem;
	line-height:1rem;
	padding-left:0.2rem;
	color:#868686;
	position:relative;
}
.se-cont ul li a{
    position:absolute;
    width:0.2rem;
    height:0.33rem;
    background:url(../img/img7_12.png) no-repeat;
    background-size:contain;
    right:0.36rem;
    top:50%;
    margin-top:-0.11rem;
}